<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %level - %msg%n}{FATAL=red bold, ERROR=red, WARN=yellow, INFO=white, DEBUG=green bold, TRACE=blue}" disableAnsi="false"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>